<!--  BACKUP ASLI SERVER BENAR -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/backoffice/shortcut_icon.ico" type="image/png">

    <title>Export Excel</title>
    <script src="/plugins/jquery/jquery-1.11.1.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">

    </style>
</head>

<body>
    <div id="table_wrapper1">
        <table border="1" cellpadding="10" cellspacing="0" style="width:100%;display: none;">
            <thead>
                <tr>
                    <th rowspan="2">No.</th>
                    <th rowspan="2">Perusahaan</th>
                    <th rowspan="2">Pekerjaan</th>
                    <th rowspan="2">Pin Pekerjaan</th>
                    <th rowspan="2">Jenis Pekerjaan</th>
                    <th rowspan="2">No. Kontrak</th>
                    <th rowspan="2">Nilai Kontrak</th>
                    <th colspan="2">Tanggal Kontrak</th>
                    
                </tr>

                <tr>
                    <th>Tanggal Mulai</th>
                    <th>Tanggal Selesai</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i=0; i<data.length; i++){ %>

                    <tr>
                        <td><%= i+1 %>.</td>
                        <td><%= data[i]['namaPerusahaan'] %></td>
                        <td><%= data[i]['namaPekerjaan'] %></td>
                        <td><%= data[i]['pin'] %></td>
                        <td><%= data[i]['jenisPekerjaan'] %></td>
                        <td><%= data[i]['nomorKontrak'] %></td>
                        <td><%= data[i]['nilaiPekerjaan'] %></td>
                        <td><%= data[i]['mulaiKontrak'] %></td>
                        <td><%= data[i]['akhirKontrak'] %></td>
                    </tr>
                 <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>
<script type="text/javascript">
    var data_type = 'data:application/vnd.ms-excel';
    var table_div = document.getElementById('table_wrapper1');
    var table_html = table_div.outerHTML.replace(/ /g, '%20');

    var a = document.createElement('a');
    a.href = data_type + ', ' + table_html;
    a.download = 'Pekerjaan' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
    a.click();
    setTimeout("window.close();", 5000);
</script>