<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title>Sistem Informasi Pengendalian Pembangunan Gedung Kota Salatiga</title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    <% include ../template/header.ejs %>

    <section style="padding: 60px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h1 class="mt-0 mb-0"><strong>PERUSAHAAN</strong></h1>
                </div>
                <div class="col-md-12 col-lg-12">
                    <hr class="mb-0">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12 col-lg-12">
                    <a href="/administrator/perusahaan/insert" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Tambah Data</a>
                </div>
                <div class="col-md-12 col-lg-12 mt-3">
                    <table class="table table-bordered table-sm" id="data">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Perusahaan</th>
                                <th>Alamat</th>
                                <th>No. Telepon</th>
                                <th>Email</th>
                                <th>Option</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for(var i=0; i<data.length; i++){ %>
                            <tr>
                                <td><%= i+1 %>.</td>
                                <td><%= data[i]['namaPerusahaan'] %></td>
                                <td><%= data[i]['alamatPerusahaan'] %></td>
                                <td><%= data[i]['noTeleponPerusahaan'] %></td>
                                <td><%= data[i]['emailPerusahaan'] %></td>
                                <td>
                                    <ul class="list-inline mb-0" style="text-align: center;">
                                        <li class="list-inline-item"><a href="/administrator/perusahaan/edit/<%= data[i]['id'] %>" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
                                        <li class="list-inline-item"><a href="/administrator/perusahaan/delete/<%= data[i]['id'] %>" class="btn btn-danger" onclick="return confirm('Apakah anda yakin untuk menghapus data ini ?');"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <% include ../template/footer.ejs %>

    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <!-- End Plugins This Page -->
    <script type="text/javascript">
        $('#data').DataTable({
            "language": {
                "sProcessing": "Sedang memproses...",
                "sLengthMenu": "_MENU_",
                "sZeroRecords": "Tidak ditemukan data yang sesuai",
                "sInfo": "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
                "sInfoEmpty": "Menampilkan 0 sampai 0 dari 0 entri",
                "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
                "sInfoPostFix": "",
                "sUrl": "",

                "oPaginate": {
                    "sFirst": "Pertama",
                    "sPrevious": "Sebelumnya",
                    "sNext": "Selanjutnya",
                    "sLast": "Terakhir"
                }
            },
        });
    </script>
</body>
</html>