<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Data Master Perusahaan</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a>
        </li>
        <li class="active">Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-header header-line">
           <a class="btn btn-primary btn-embossed" href="/manajemen_master/perusahaan/insert" role="button"><i class="fa fa-plus" aria-hidden="true"></i>Tambah Data</a>
        </div>
        <div class="panel-content pagination2">
          <table class="table table-bordered table-striped table-hover" id="data">
            <thead>
              <tr>
                <th class="header">No. </th>
                <th class="header">Perusahaan</th>
                <th class="header">Alamat</th>
                <th class="header">No. Telepon</th>
                <th class="header">Email</th>
                <th class="header">Option</th>
              </tr>
            </thead>
            
            <tbody>
          <% for(var i=0; i<data.length; i++){ %>
            <tr>
              <td><%= i+1 %>.</td>
              <td><%= data[i]['namaPerusahaan'] %></td>
              <td><%= data[i]['alamatPerusahaan'] %></td>
              <td><%= data[i]['noTeleponPerusahaan'] %></td>
              <td><%= data[i]['emailPerusahaan'] %></td>
              <td>
                <center>
                <ul class="list-inline" style="text-align: center;">
                  <li><a class="btn btn-warning btn-embossed btn-sm" href="/manajemen_master/perusahaan/edit/<%= data[i]['perusahaanId'] %>" role="button" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
                  <li class="separator">|</li>
                  <li><a class="btn btn-danger btn-embossed btn-sm" href="/manajemen_master/perusahaan/delete/<%= data[i]['perusahaanId'] %>" role="button" onclick="return confirm('Apakah anda yakin untuk menghapus data ini ?');"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                </ul>
                </center>
              </td>
            </tr>
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
  <% include ../../template-backoffice/copyright.ejs %>

</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#data').DataTable({
      "language": {
          "sProcessing":   "Sedang memproses...",
          "sLengthMenu":   "_MENU_",
          "sZeroRecords":  "Tidak ditemukan data yang sesuai",
          "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
          "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
          "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
          "sInfoPostFix":  "",
          "sUrl":          "",
          "oPaginate": {
            "sFirst":    "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext":     "Selanjutnya",
            "sLast":     "Terakhir"
          }
      },
      "columnDefs": [
          { "width": "100px", "targets": 5}
      ],
    });
  });


</script>